{% extends "_base.html" %}
{% import "form_macros.html" as form %}

{% block content %}
<table>
  <tr>
    <td>
      {{ link_to(post=post) }}
      <br>
      <small>
        submitted by
        {{ link_to(user=user) }}
        - {{ post.created_at }}
      </small>
    </td>
  </tr>
</table>

<form action="{{ url_for(post=post, action="create_comment") }}" method="POST">
  <div>
    {{ form::textarea(id="comment", label="Comment") }}
    <input type="hidden" name="post_id" value="{{ post.id }}">
    <br>
    {{ form::submit() }}
  </div>
</form>

<br>

{% for comment_author in comments_authors %}
{% set comment = comment_author[0] %}
{% set author = comment_author[1] %}
<div>
  {{ comment.comment }}
  <br>
  <small>by {{ link_to(user=author) }}</small>
  <hr>
</div>
{% endfor %}
{% endblock %}
