{% extends "_base.html" %}

{% block content %}
<h3>{{ user.username }}<em><small>#{{ user.id }}</small></em> Profile</h3>

<h5>Posts</h5>
<hr>
{% for post in posts %}
<div>
  {{ link_to(post=post) }}
</div>
{% endfor %}

<h5>Comments</h5>
<hr>
{% for comment in comments %}
<div>
  {{ comment.comment }} - {{ link_to(comment=comment, text="See the article") }}
</div>
{% endfor %}
{% endblock %}
